 *{
     margin: 0;
     padding: 0;
 }

 body{
     width: 100%;
     height: 100vh;
     display: flex;
     justify-content: center;
     align-items: center;
 }

 .game{
    width:700px;
    height: 500px;
     /* background-color: lightblue; */
     background-image: url("images/backgame.jpg");
     background-size: cover;
     background-repeat: no-repeat;
     position: relative;
     border-radius: 10px;
     border:2px solid black;
 }

 .danger-line{
     width:100%;
     height: 15px;
     background-color: red;
     position: absolute;
     bottom: 0;
     visibility: hidden;
 }

 .basket{
     background-image: url("images/object_001_basket.png");
     background-size: cover;
     width:80px;
     height: 80px;
     /* background-color: blue; */
     position: absolute;
     bottom: 15px;
     left: calc(50% - 25px);
 }

 .egg{
    background-image: url("images/egg.png");
    background-size: cover;
     width:30px;
     height: 30px;
     position: absolute;
     /* background-color:rgb(82, 112, 129); */
     border-radius: 50px;
 }

 p{
    font-size: 25px;
    margin: 10px 10px;
    font-style: italic;
    color:rgb(77, 75, 75);
    font-weight: bold;
 }
 #lastGameDate {
    color: brown;
  }

  #playerName
  {
      color: brown;
  }